*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --header_top-height:34px;
    --header_bottom-height:50px;
    --main1-color: #3bca80;
    --main2-color:#3fb377;
    --white-color: #fff;
    --product__content-more-color:#ff803d;
    --pdd:160px;

}
html{
    font-family:  Helvetica, sans-serif;
    
}
body{
    background-color: #f5f5f5;
}
/* Header */
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header_top-height);
    background-color: #f5f5f5;
    padding: 0px var(--pdd);
}
.header__top-items{
    display: flex;
    list-style: none;
}
.header__top-item{
    padding: 0px 5px;
}
.header__top-item:hover{
    background-color: #eee;
}
.header__top-item:hover > .header__top-link{
    color: var(--main1-color);
}
.headr__top-phone{
    color: #ff3366;
}
.header__top-link{
    line-height: var(--header_top-height);
    font-size: 12px;
    text-decoration: none;
    color: #aaaaaa;
}

.header__middle{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--pdd);
    background-color: var(--white-color);
}
.header__md-search{
    /* border: 1px solid #ccc; */
    /* width: 550px; */
}
.header__md-ctn{
    display: flex;
}
.header__md-input{
    padding: 8px;
    width: 500px;
    border: none;
    border-radius: 2px;
    outline: 1px solid #3bca80;
}
.header__md-btn{
    outline: none;
    border: 1px solid #3bca80;
    background-color: #3bca80;
    padding: 8px 15px;
    border-radius: 2px;
    color: #fff;
}
.header__md-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.icon_md{
    color: #3bca80;
    font-size: 40px;
}
.header__md-icon{

}
.header__bottom{
    padding: 0px var(--pdd);
    height: var(--header_bottom-height);
    background-color: var(--main1-color);
}
.header__bt-items{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__bt-item{
    padding: 0px 10px;
}
.header__bt-item:hover{
    background-color: #34a068;
    color: #eee;
}
.header__bt-link{
    font-size: 14px;
    line-height: var(--header_bottom-height);
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.icon__bt-nav{
    margin: 0px 5px;
    font-size: 25px;
}
.nav_active{
    background-color: #34a068;
    color: #eee;
}
/* Slider */
.carousel{
    padding: 0px 160px;
}
.slider{
    transition: 1s;
}

/* Products */
.products{
    margin-top: 20px ;
    padding: 0px 160px;
}
.products__container-content{
    padding: 15px 46px;
    text-align: center;
    border-bottom: 4px solid var(--main1-color);
    background-color: var(--white-color);
}
.products__content{
    
    text-decoration: none;
    color: var(--main1-color);
    font-weight: bold;
}
.list_products{
    margin-top: 10px;
    list-style: none;
}
.product__item{
    
    margin-top: 10px;
}
.container__item-prd{
    /* border: 1px solid #f4f4f4; */
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.product_img{
    width: 100%;
}
.product__details{
    padding: 8px;
}
.product__container-name{
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 4px;
}
.product__name{
    font-size: 12px;
}
.product__sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.product__price{
    font-size: 14px;
    color: #ee4d2d;
}
.product__sold{
    font-size: 10px;
    color: rgba(0,0,0,.54);
}
.product__sale{
    text-align: center;
}
.product__sale{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,212,36,0.9);
    top: 0px;
    right: 2px;
}
.product__sale::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    border-style:solid ;
    border-width: 0px 20px 6px;
    border-color: transparent rgba(255,212,36,0.9) transparent rgba(255,212,36,0.9);
}
.product__sale-value{
    color: #ee4d2d;
    font-size: 10px;
    font-weight: 500;
}
.product__sale-content{
    color: var(--white-color);
    font-size: 12px;
}
.product_search-more{
    padding: 0px 160px;
    margin-top: 20px;
}
.product_search_more-content{
    padding: 15px 46px;
    text-align: left;
    border-bottom: 4px solid var(--main1-color);
    background-color: var(--white-color);
    color: var(--main1-color);
}
.products__items{
    list-style: none;
    /* height: 180px; */
    margin-top: 20px;
    /* display: flex; */
}
.product__item_img-main{
    width: 100%;
}
.product__item-search{
    width: 200px;
    background-color: var(--white-color);
    padding: 20px 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    /* margin: 0px 5px; */
}
.product__item-img{
    position: relative;
}
.product__item-detail{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,.26);;
}
.product__item_detail-main{
    text-align: center;
    line-height: 20px;
    color: var(--white-color);
    font-size: 12px;
}
.product__item_container-name{
    margin-top: 8px;
}
.product__item-name{
    text-align: center;
}
.product__item-top{
    width: 40px;
    height: 40px;
    background-color: var(--main1-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    top: 0px;
    left: 0px;
}
.product__item-top::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -40px;
    border-style:solid ;
    border-width: 20px;
    border-color: var(--main1-color) transparent transparent transparent;
}
.product__item_top-content{
    color: var(--white-color);
    font-weight: 700;
}
/* .carousel{
    
} */
.slider__img{
    width: 100%;
}
.swiper.mycarousel.carousel{
}
.carousel{
    padding: 0px 160px;
    margin-top: 20px;
}
.footer{
    padding: 20px 100px;
    margin-top: 20px;
    background-color: #fbfbfb;
}
.footer__items{
    list-style: none;
}
.footer__item-img{
    width: 100%;
}
.footer__item-link{
    text-decoration: none;
}
.footer__item-content{
    font-size: 14px;
    font-weight: bold;
}
.footer__item-para{
    font-size: 12px;
}
.footer__items.pay{
    display: flex;
}
.footer__item.pay{
    width: 70px;
    margin: 5px 5px;
}
.footer__item-link.about,.footer__item-link.help{
    color: #000;
    font-size: 12px;
}
.footer__item-link.about:hover,.footer__item-link.help:hover{
    color: var(--main1-color);
}
.footer__items.link{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.footer__item-link.lk{
    display: flex;
    width: 30px;
    height: 30px;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.footer__item-link.lk.face{
    background-color: #415a99;
}
.footer__item-link.lk.ytb{
    background-color: #cb222a;
}
.footer__item-link.lk.twtt{
    background-color: #00caff;
}
.footer__item-link.lk.gg{
    background-color: #da4735;
}
/* Categories */
.categories__item{
    padding: 10px;
    width: 120px;
    background-color: var(--white-color);
}
.categories__item-img{
    width: 100%;
}
.categories__name{
    text-align: center;
}
.category{
    padding: 0px 160px;
}
.category__container-content{
    margin-top: 10px;
    padding: 15px 46px;
    text-align: left;
    border-bottom: 4px solid var(--main1-color);
    background-color: var(--white-color);
    color: var(--main1-color);
}